<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="wrapper">
        <div id="admin-dashboard" class="box">
            <div class="back-button-container">
                <a href="protfolio.html" class="back-button">Back to portfolio</a>
            </div>   
            <h2>Admin Dashboard</h2>
            <nav class="admin-nav">
                <ul>
                    <li><a href="admin declaration.html">Grant Admin Status</a></li>
                    <li><a href="createGame.html">Create Game</a></li>
                    <li><a href="endgame.html">End Game</a></li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>
