<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar">
        <a href="login.html">Home</a> |
        <a href="protfolio.html">Portfolio</a> |
        <a href="buysell.html">Buy/Sell Stocks</a> |
        <a href="transactions.html"> Transaction History</a> |
        <a href="changePassword.html">Change Password</a> |
        <a href="joingame.html">Join Game</a>
        <a href="admin.html"> Admin Dashboard</a>
    </nav>
    <div class="wrapper">
        <div id="changePassword" class="box">
            <h2>Change Password</h2>
            <form id="changePasswordForm" action="http://localhost:3000/users/change-password" method="POST">
                <div>
                    <label for="usernameChange" style="font-family: 'Courier New', Courier, monospace;
                    font-size: 30px;">Username:</label>
                    <input type="text" id="usernameChange" name="username" required>
                </div>
                <div>
                    <label for="oldPassword" style="font-family: 'Courier New', Courier, monospace;
                    font-size: 30px;">Old Password:</label>
                    <input type="password" id="oldPassword" name="oldPassword" required>
                </div>
                <div>
                    <label for="newPassword" style="font-family: 'Courier New', Courier, monospace;
                    font-size: 30px;">New Password:</label>
                    <input type="password" id="newPassword" name="newPassword" required>
                </div>
                <div style>
                    <button type="submit" style="padding: 10px; border-radius: 10px; width: 150px;
                margin-top: 10px;">Change Password</button>
                </div>
                <div style="margin-top: 10px;"><a href="login.html">Back to Login</a></div>
                
            </form>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.get('success') === 'true') {
                alert('Password change successful!');
            }
        });
    </script>
</body>


</html>
